{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}  {{ user.get_full_name }}  | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder"><img alt="" src='{% static "img/breadcrumb1.jpg" %}'></div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">{{ user.get_full_name }}</h1>
{% endblock %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">Welcome {{ user }} to your Dashboard</li>
<li class="breadcrumb-item"><a href='{% url "accounts:account_edit" %}'><i class="fa fa-plus"></i>Edit</a></li>
<li class="breadcrumb-item"><a href='{% url "accounts:account_edit" %}'><i class="fa fa-plus"></i>Profile</a></li>
{% endblock %}

{% block content %}
<section class="dashboard-wrapper section-bg p-bottom-70">
  <div class="dashboard-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="dashboard-nav-area">
            <ul class="nav" id="dashboard-tabs" role="tablist">
              <li class="nav-item">
                <a aria-controls="listings" aria-selected="true" class="nav-link active" data-toggle="tab"
                   href="#listings"
                   id="all-listings" role="tab">My Listings</a>
              </li>
              <li class="nav-item">
                <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile"
                   id="profile-tab" role="tab">My Profile</a>
              </li>
              <li class="nav-item">
                <a aria-controls="profile" aria-selected="false" class="nav-link"
                   href="{% url 'accounts:detail' request.user.pk %}"
                   id="" role="tab">View as Other</a>
              </li>
              <li class="nav-item">
                <a aria-controls="favorite" aria-selected="false" class="nav-link" data-toggle="tab" href="#favorite"
                   id="faborite-listings" role="tab">Favorite Listing</a>
              </li>
            </ul>
            <div class="nav_button">
              <a class="btn btn-primary"
                 data-target="#category_modal" data-toggle="modal"
                 href="{% url 'business:new' %}"><span class="la la-plus"></span> Add
                Biashara</a>
              <a class="btn btn-secondary" href="{% url 'account_logout' %}">Log Out</a>
            </div>
          </div>
        </div><!-- ends: .col-lg-12 -->
      </div>
    </div>
  </div><!-- ends: .dashboard-nav -->
  <div class="tab-content p-top-100" id="dashboard-tabs-content">
    <div aria-labelledby="all-listings" class="tab-pane fade show active" id="listings" role="tabpanel">
      <div class="container">
        <div class="row">
          {% if user.added_by.all %}
          {% for business in user.added_by.all %}
          <div class="col-lg-4 col-sm-6">
            <div class="atbd_single_listing ">
              <article class="atbd_single_listing_wrapper">
                <figure class="atbd_listing_thumbnail_area">
                  <div class="atbd_listing_image">
                    <a href="{{ business.get_absolute_url }}">
                      <img alt="listing image" src='{% if business.featured_image %}
                          {{ business.featured_image }}
                          {% else %} {% static "img/p1.jpg" %} {% endif %}'>
                    </a>
                  </div><!-- ends: .atbd_listing_image -->
                  <div class="atbd_thumbnail_overlay_content">
                    <ul class="atbd_upper_badge">
                      {% if business.featured %}
                      <li><span class="atbd_badge atbd_badge_featured">Featured</span></li>
                      {% endif %}
                      {% if business.verified %}
                      <li><span class="atbd_badge atbd_badge_popular">Verified</span></li>
                      {% endif %}
                    </ul><!-- ends .atbd_upper_badge -->
                  </div><!-- ends: .atbd_thumbnail_overlay_content -->
                </figure><!-- ends: .atbd_listing_thumbnail_area -->
                <div class="atbd_listing_info">
                  <div class="atbd_content_upper">
                    <h4 class="atbd_listing_title">
                      <a href="{{ business.get_url_path }}">{{ business.name }}</a>
                    </h4>
                    <div class="atbd_listing_meta">
                          <span class="atbd_meta atbd_listing_rating">
                                                      {% if business.reviews.count > 3 %}
                            {{ business.average_rating | floatformat }}
                          {% else %}
                          need 3+
                            <i class="la la-star"></i></span>
                      {% endif %}
                      {% comment %}
                      {% if business.is_open and business.closed == False %}
                      <span class="atbd_meta atbd_badge_open">Open Now</span>
                      {% else %}
                      <span class="atbd_meta atbd_badge_close">Closed</span>
                      {% endif %}
                      {% endcomment %}
                    </div><!-- End atbd listing meta -->
                    <div class="atbd_listing_data_list">
                      <ul>
                        {% if business.address %}
                        <li>
                          <p><span class="la la-map-marker"></span>{{ business.address }},
                            {% if business.location %}
                            {{ business.location }}, {{ business.location.country }}
                            {% endif %}
                          </p>
                        </li>
                        {% endif %}
                        <li>
                          {% if business.phone %}
                          <p><span class="la la-phone"></span>(+254) {{ business.phone }}</p>
                          {% endif %}
                        </li>
                        <li>
                          <p><span class="la la-calendar-check-o"></span>
                            {{ business.publish|date }}, ({{ business.publish|timesince }} ago)</p>
                        </li>
                      </ul>
                    </div><!-- End atbd listing meta -->
                  </div><!-- end .atbd_content_upper -->
                  <div class="atbd_listing_bottom_content">
                    <div class="atbd_content_left">
                      <div class="atbd_listing_category">
                        {% if business.category %}
                        <a href=""><span class="{{ business.category.icon }}"></span>{{ business.category }}</a>
                        {% endif %}
                      </div>
                    </div>
                    <ul class="atbd_content_right">
                      <li class="atbd_count"><span class="la la-eye"></span>
                        10+
                      </li>
                      <li class="atbd_save">
                        <span href="{% url 'business:bookmark' slug=business.slug %}" class="la la-heart-o"></span>
                      </li>
                      <li>
                        <div class="atbd_author atbd_author--thumb">
                          <a href="{{ business.get_absolute_url }}">
                            <img alt="Logo" src='{% if business.logo %}
                          {{ business.logo.url }} {% else %} {% static "img/author-thumb2.jpg" %} {% endif %}'>
                            <span class="custom-tooltip">{{ business.name }}</span>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div><!-- end .atbd_listing_bottom_content -->
                </div><!-- ends: .atbd_listing_info -->
              </article><!-- atbd_single_listing_wrapper -->
            </div>
          </div><!-- ends: .col-md-6 -->


          {% endfor %}
          {% else %}
          <div class="col-lg-12">
            <p>You haven't added any biashara. <a class="btn btn-primary"
                                                  data-target="#category_modal" data-toggle="modal"
                                                  href="{% url 'business:new' %}">
              <span class="la la-plus"></span>Add Here</a></p>
          </div>
          {% endif %}
        </div>
        {% if user.review_set.all %}
        <div class="atbd_author_listings_area m-bottom-30">
          <h1>Your Reviews</h1>
          <div class="atbd_author_filter_area">
            <!--            add something here-->
          </div>
        </div><!-- ends: .atbd_author_listings_area -->
        <div class="row">
          {% for review in user.review_set.all %}
          <div class="col-lg-4 col-md-6">
            <div class="grid-single">
              <div class="card post--card shadow-sm">
                <figure>
                  <a href="{{ review.get_absolute_url }}"><img alt="" src="img/c4.jpg"></a>
                </figure>
                <div class="card-body">
                  <h6><a href="{{ review.get_absolute_url }}">
                    {{ review.user.first_name }} reviewed {{ review.content_object.name }}
                  </a></h6>
                  <ul class="post-meta d-flex list-unstyled">
                    <li>{{ review.publish|date }} ({{ review.publish|timesince }} ago)</li>
                  </ul>
                  <ul class="post-meta d-flex list-unstyled">
                    <li>to <a href="{{ review.content_object.get_absolute_url }}">{{ review.content_object.name }}</a>
                    </li>
                  </ul>
                  <p>{{ review.content|truncatechars:100 }}</p>
                </div>
              </div><!-- End: .card -->
            </div>
          </div><!-- ends: .col-lg-4 -->
          {% endfor %}
        </div>
        <div class="m-top-20">
          {% include 'includes/pagination.html' %}
        </div>
        {% else %}
        <div class="row">
          <div class="col-lg-12">
            <p>You have no reviews yet. <a class="btn btn-primary" href="{% url 'business:list' %}">
              <span class=""></span>Browse Biasharas to Add</a></p>
          </div>
        </div>
        {% endif %}
      </div>
    </div><!-- ends: .tab-pane -->
    <div aria-labelledby="profile-tab" class="tab-pane fade p-bottom-30" id="profile" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-8">
            <div class="atbd_author_module">
              <div class="atbd_content_module">
                <div class="atbd_content_module__tittle_area">
                  <div class="atbd_area_title">
                    <h4><span class="la la-user"></span>My Profile</h4>
                  </div>
                </div>
                <div class="atbdb_content_module_contents">
                  <form action="{% url 'accounts:account_edit' %}" class="form-ad" enctype="multipart/form-data"
                        method="POST">
                    <div class="form-group is-empty">
                      {% csrf_token %}
                      {% crispy form %}
                    </div>
                  </form>
                </div>
              </div>
            </div><!-- ends: .atbd_author_module -->
          </div>
        </div>
      </div>
    </div><!-- ends: .tab-pane -->
  </div>
  <!-- Modal -->
</section>

{% endblock %}