{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% load account %}
{% block title %} {% trans "Confirm E-mail Address" %}  | {{ block.super }} {% endblock %}


{% block page-title %}
<h1 class="page-title">
  {% trans "Confirm E-mail Address" %}
</h1>
{% endblock  %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">
  {% trans "Confirm E-mail Address" %}
</li>
{% endblock %}


{% block content %}

<section class="checkout-wrapper section-padding-strict section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="checkout-form">
          <div class="atbd_content_module" id="directorist_payment_gateways">
            <div class="atbd_content_module__tittle_area">
              <div class="atbd_area_title">
                <h3> {% trans "Confirm E-mail Address" %}</h3>
              </div>
            </div>
            <div class="atbdb_content_module_contents">
              <ul class="list-unstyled">
                <li>
                  {% if confirmation %}

                  {% user_display confirmation.email_address.user as user_display %}

                  <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                      href="mailto:{{ email }}">{{ email }}</a>
                    is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button type="submit">{% trans 'Confirm' %}</button>
                  </form>

                  {% else %}

                  {% url 'account_email' as email_url %}

                  <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                      href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                  {% endif %}
                </li>
              </ul>
            </div>
          </div><!-- ends: .atbd_content_module -->
        </div><!-- ends: .checkout-form -->
      </div><!-- ends: .col-lg-12 -->
    </div>
  </div>
</section><!-- ends: .checkout-wrapper -->


{% endblock %}
