{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% load account %}
{% block title %} Change password successful  | {{ block.super }} {% endblock %}


{% block page-title %}
<h1 class="page-title">
  Password Change Done
</h1>
{% endblock  %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">
  <a href="{% url 'accounts:password_change' %}">Change password</a>
</li>
  <li class="breadcrumb-item active">Success</li>

{% endblock %}








{% block content %}
<section class="checkout-wrapper section-padding-strict section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkout-form">
                            <div class="atbd_content_module" id="directorist_payment_gateways">
                                <div class="atbd_content_module__tittle_area">
                                    <div class="atbd_area_title">
                                        <h3><strong>Success!</strong> Your password has been changed!</h3>
                                    </div>
                                </div>
                                <div class="atbdb_content_module_contents">
                                    <ul class="list-unstyled">
                                      <li>
                                        <p>  <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- ends: .atbd_content_module -->
                    </div><!-- ends: .checkout-form -->
                </div><!-- ends: .col-lg-12 -->
            </div>
        </div>
    </section><!-- ends: .checkout-wrapper -->

{% endblock %}
