{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% load account %}
{% block title %} {% trans "Password Reset" %}  | {{ block.super }} {% endblock %}


{% block page-title %}
<h1 class="page-title">
  {% trans "Password Reset" %}</h1>
{% endblock  %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">{% trans "Password Reset" %}</li>
{% endblock %}


{% block content %}
<div class="" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_label"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signup_modal_label"><i class="la la-lock"></i> {% trans "Password Reset" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-outline-danger" type="submit" value="{% trans 'Reset My Password' %}"/>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


