{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% load account %}
{% block title %} {% trans "Set Password" %}| {{ block.super }} {% endblock %}


{% block page-title %}
<h1 class="page-title">
  {% trans "Set Password" %}
</h1>
{% endblock  %}


{% block content %}

<section class="checkout-wrapper section-padding-strict section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="checkout-form">
          <div class="atbd_content_module" id="directorist_payment_gateways">
            <div class="atbd_content_module__tittle_area">
              <div class="atbd_area_title">
                <h3>{% trans "Set Password" %}</h3>
              </div>
            </div>
            <div class="atbdb_content_module_contents">
              <ul class="list-unstyled">
                <li>
                  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                  </form>
                </li>
              </ul>
            </div>
          </div><!-- ends: .atbd_content_module -->
        </div><!-- ends: .checkout-form -->
      </div><!-- ends: .col-lg-12 -->
    </div>
  </div>
</section><!-- ends: .checkout-wrapper -->


{% endblock %}
