{% load socialaccount %}
{% load crispy_forms_tags %}
<div aria-hidden="true" aria-labelledby="login_modal_label" class="modal fade" id="login_modal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login_modal_label"><i class="la la-lock"></i> Sign In</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'account_login' %}" enctype='multipart/form-data'
              id="login-form" method='POST' novalidate>
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ next }}">
          {% crispy login %}
        </form>
        <div class="form-excerpts">
          <ul class="list-unstyled">
            <li>Not a member? <a href="{% url 'account_signup' %}">Sign up</a></li>
            <li><a href="{% url 'account_set_password' %}">>Recover Password</a></li>
          </ul>
          <div class="social-login">
            <span>Or connect with</span>
            <p><a class="btn btn-outline-secondary"
                  href="{% provider_login_url "facebook" method="oauth2" %}"><i class="fab fa-facebook-f"></i> Facebook</a>
              <a class="btn btn-outline-danger"
                 href="{% provider_login_url "google" method="oauth2" %}"><i class="fab fa-google-plus-g"></i> Google</a></p>
              <a class="btn btn-outline-warning" href=""><i class="fab fa-twitter"></i> Twitter</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
