{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}  {{ flatpage.title }} | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder"><img alt="" src='{% static "img/breadcrumb1.jpg" %}'></div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">{{ flatpage.title }} </h1>
{% endblock %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">{{ flatpage.title }}</li>
{% endblock %}

{% block content %}

<section class="blog-area section-padding-strict border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-details">
          <div class="post-head">
            <img alt="" src="img/b2.jpg">
          </div>
          <div class="post-content">
            <div class="post-header">
              <h3>{{ flatpage.title }}</h3>
            </div>
            <div class="post-body">
              <p>{{ flatpage.content }}</p>
            </div>
          </div>
        </div><!-- ends: .post-details -->
        <div class="post-bottom d-flex justify-content-between">
          <div class="social-share d-flex align-items-center">
            <span class="m-right-15">Share: </span>
            <ul class="social-share list-unstyled">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div><!-- ends: .post-bottom -->
      </div><!-- ends: .col-lg-8 -->
      <div class="col-md-4 mt-5 mt-md-0">
        <div class="sidebar">
          <!-- search widget -->
          <div class="widget-wrapper">
            <div class="search-widget">
              <form action="#">
                <div class="input-group">
                  <input class="fc--rounded" placeholder="Search" type="text">
                  <button type="submit"><i class="la la-search"></i></button>
                </div>
              </form>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- category widget -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Categories</h6>
              </div>
              <div class="widget-content">
                <div class="category-widget">
                  <ul>
                    <li class="arrow-list4"><a href="">Business</a></li>
                    <li class="arrow-list4"><a href="">Finance</a></li>
                    <li class="arrow-list4"><a href="">Industry Reports</a></li>
                    <li class="arrow-list4"><a href="">Strategy</a></li>
                    <li class="arrow-list4"><a href="">Technology</a></li>
                    <li class="arrow-list4"><a href="">Marketing</a></li>
                    <li class="arrow-list4"><a href="">Strategy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- popular post -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Popular Post</h6>
              </div>
              <div class="widget-content">
                <div class="sidebar-post">
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb1.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">Tizara Adds 35 New Part ners envato</a>
                  </div><!-- ends: .post-single -->
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb2.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">2018 Decorators opens with home design inspiration</a>
                  </div><!-- ends: .post-single -->
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb3.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">Artist brings air of distinction to Delafield apartment</a>
                  </div><!-- ends: .post-single -->
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- popular post -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Recent Post</h6>
              </div>
              <div class="widget-content">
                <div class="sidebar-post">
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb1.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">Tizara Adds 35 New Part ners envato</a>
                  </div><!-- ends: .post-single -->
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb2.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">2018 Decorators opens with home design inspiration</a>
                  </div><!-- ends: .post-single -->
                  <div class="post-single">
                    <div class="d-flex align-items-center">
                      <a href=""><img alt="" src="img/bthumb3.jpg"></a>
                      <p><span>Jan 25, 2018</span> <span>by <a href="">Aazztech</a></span></p>
                    </div>
                    <a class="post-title" href="">Artist brings air of distinction to Delafield apartment</a>
                  </div><!-- ends: .post-single -->
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- tags -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Popular Tags</h6>
              </div>
              <div class="widget-content">
                <div class="tags-widget">
                  <ul>
                    <li><a href="">Business</a></li>
                    <li><a href="">Finance</a></li>
                    <li><a href="">Strategy</a></li>
                    <li><a href="">Global</a></li>
                    <li><a href="">Marketing</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Wordpress</a></li>
                    <li><a href="">Solution</a></li>
                    <li><a href="">Bizillion</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- subscribe -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Stay Updated</h6>
              </div>
              <div class="widget-content">
                <div class="subscribe-widget">
                  <form action="#">
                    <input class="form-control m-bottom-20" placeholder="Enter email" type="email">
                    <button class="btn btn-sm btn-primary shadow-none" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- Social Connect -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Connect &amp; Follow</h6>
              </div>
              <div class="widget-content">
                <div class="social social--small">
                  <ul class="d-flex flex-wrap">
                    <li><a class="facebook" href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a class="twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="linkedin" href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    <li><a class="gplus" href="#"><span class="fab fa-google-plus-g"></span></a></li>
                  </ul>
                </div><!-- ends: .social -->
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
        </div><!-- ends: .sidebar -->
      </div><!-- ends: .col-lg-4 -->
    </div>
  </div>
</section><!-- ends: .blog-area -->

{% endblock %}