{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}

  <meta content=" {{ photo.name }} gallery "
        name="description">
  <meta content="{% for photo in photo.photos.all %}  {{ photo.alt }}, {% endfor %}" name="keywords">
  <meta content="BiasharaHub" name="author">

{% endblock %}


{% block stylesheet %}
    <link href="{% static 'css/gallery.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}  {{ photo.name }} gallery  | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder"><img alt="" src='{% if photo.photos.all %}  {{ photo.photos.first.img.url }}
{% else %} {% static "img/breadcrumb1.jpg" %} {% endif %}'></div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">{{ photo.name }} gallery </h1>
{% endblock %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active"><a href="">{{ photo.name }}</a></li>
{% endblock %}

{% block content %}
<section class="all-listing-wrapper section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="gallery_box">
          {% for photo in photo.photos.all %}
          <li>
            <a href="#0"><img class="" src="{{ photo.img.url }}">
              <div class="box_data">
                <span>{{ photo.alt }}</span>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}



