{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %} formset | {{ block.super }} {% endblock %}
{% block lead %}
formset
{% endblock %}

{% block jumbotron %}
<a class="btn btn-common">
  form
</a>
{% endblock  %}

{% block content %}
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="page-ads box">
          <form enctype="multipart/form-data" class="form-ad" action="." method="POST">
            <div class="form-group is-empty"><br/>
              {% csrf_token %}
              {% crispy form %}
              <div class="form-row">
                {{ formset.management_form|crispy }}
                {{ formset.non_form_errors }}
                {% for formset in inlines %}
                <div class="mt-10 form-group col-md-11 clearfix">
                  {{ formset|crispy }}
                </div>&nbsp;
                {% endfor %}
              </div>
              <a role="button" class="btn btn-lg btn-danger pull-right" href="{% url 'home' %}">Cancel</a>
              <input type="submit" class="btn btn-lg btn-success pull-right" value="Submit"
                     name="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}