{% load staticfiles %}
          <form class="search_form" action="business/" method="get" >
            <div class="atbd_seach_fields_wrapper">
              <div class="single_search_field search_query">
                <input type="text" placeholder="what are you looking for?" class="form-control" name="q" id="q" autocomplete="off">
                                  <div id="selction-ajax"></div>
              </div>
              <div class="atbd_submit_btn">
                <button class="btn btn-block btn-gradient btn-gradient-one btn-md btn_search" type="submit">Search
                </button>
              </div>
            </div>
          </form><!-- ends: .search_form -->