<div class="col-lg-4 order-1 order-lg-0 mt-5 mt-lg-0">
  <div class="listings-sidebar">
    <div class="search-area default-ad-search">
      <form action="business/" class="search-form-container" method="get">
        <div class="form-group">
          <input autocomplete="off" class="form-control" id="q"
                                 name="q" placeholder="search for biashara?" type="text">
                          <div id="selction-ajax"></div>
        </div><!-- ends: .form-group -->
        {% if facets.fields.category %}
        <div class="filter-checklist">
          <h5>Filter by Features</h5>
          <div class="checklist-items feature-checklist hideContent">
            {% for category in facets.fields.category %}
            {% if category.1 != 0 %}
            <div class="custom-control custom-checkbox checkbox-outline checkbox-outline-primary">
              <input checked class="custom-control-input" id='{{category.0|cut:" "}}' name="category"
                     type="checkbox" value="{{ category.0 }}">
              <label class="custom-control-label">{{ category.0 }} ({{ category.1 }})</label>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div><!-- ends: .filter-checklist -->
        {% endif %}

        {% if facets.fields.location %}
        <div class="filter-checklist">
          <h5>search location</h5>
          <div class="checklist-items feature-checklist hideContent">
            {% for category in facets.fields.location %}
            {% if category.1 != 0 %}
            <div class="custom-control custom-checkbox checkbox-outline checkbox-outline-primary">
              <input checked class="custom-control-input" id='{{location.0|cut:" "}}' name="location"
                     type="checkbox" value="{{ location.0 }}">
              <label class="custom-control-label">{{ location.0 }} ({{ location.1 }})</label>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div><!-- ends: .filter-checklist -->
        {% endif %}
        <a class="btn btn-gradient btn-gradient-two btn-block btn-icon icon-right m-top-40" href="">Search
          <span class="la la-long-arrow-right"></span>
        </a>
      </form><!-- ends: form -->
    </div><!-- ends: .default-ad-search -->
  </div>
</div><!-- ends: .col-lg-4 -->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--{% if page_obj.object_list %}-->
    <!--<div class="col-md-3">-->
      <!--<h3>Filters</h3>-->
      <!--<dl>-->
        <!--{% if facets.fields.category %}-->
        <!--<dt>Filter by Category</dt>-->
        <!--{% for category in facets.fields.category %}-->
        <!--{% if category.1 != 0 %}-->
        <!--<dd>-->
          <!--<input class="facet" id="{{category.0|cut:" "}}" type="checkbox" name="category" value="{{ category.0 }}"-->
          <!--data-toggle="toggle" /> {{ category.0 }} ({{ category.1 }})-->
        <!--</dd>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
      <!--</dl>-->
      <!--<div>-->
        <!--<input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter"-->
               <!--onclick="return onFacetChangeApplied();"/>-->
      <!--</div>-->
      <!--<dl>-->

        <!--{% if facets.fields.location %}-->
        <!--<dt>Filter by location</dt>-->
        <!--{% for location in facets.fields.location %}-->
        <!--{% if location.1 != 0 %}-->
        <!--<dd>-->
          <!--<input class="facet" id="{{location.0|cut:" "}}" type="checkbox" name="location" value="{{ location.0 }}" /> {{ location.0-->
          <!--}} ({{ location.1 }})-->
        <!--</dd>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
      <!--</dl>-->
      <!--<div>-->
        <!--<input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter"-->
               <!--onclick="return onFacetChangeApplied();"/>-->

      <!--</div>-->
    <!--</div>-->
    <!--{% endif %}-->
  <!--</div>-->
<!--</div>-->