{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load social_share %}
{% load hitcount_tags %}
{% load biasharahub %}

{% block head %}
{{ post.get_meta_description|truncatechars:254 }}
<meta content=" {% if post.choices.count > 1 %} {{ post.choices.count }} {% endif %} {{ post.name }},
top, best, Nairobi, Mombasa, {{ post.tags.all|join:', ' }} "  name="keywords">
{{ post.get_meta_author }}
{{ post.get_meta_copyright }}
{% endblock %}

{% block title %} {{ post.name|capfirst }} | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder">
  <img alt="{{ post.name }}"
                                  src='{% if post.image %}{{ post.image.url }} {% else %}{% static "img/breadcrumb1.jpg" %}{% endif %}'>
</div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">{% if post.choices.count > 1 %}
  {{ post.choices.count }} {% endif %} {{ post.name }} </h1>
{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href='{% url "post:list" %}'><i class="fa fa-list"></i> List</a></li>
<li aria-current="page" class="breadcrumb-item active">
  {{ post.name }}
</li>
{% if post.user == request.user %}
<li class="breadcrumb-item"><a href='{% url "post:edit" post.slug %}'><i class="fa fa-plus"></i>Edit</a></li>
{% endif %}
{% endblock %}

{% block content %}
<section class="blog-area section-padding-strict border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-details ">
          <div class="post-head">
            <img src='{% if post.image %}{{ post.image.url }}{% endif %}' alt="{% if post.choices.count > 1 %}
                                  {{ post.choices.count }} {% endif %} {{ post.name }}">
          </div>
          <div class="post-content">
            <div class="post-header">
              <h2>{% if post.choices.count > 1 %} {{ post.choices.count }} {% endif %} {{ post.name }}</h2>
              <ul class="list-unstyled">
                <li>{% if post.publish > today %}{{ post.publish|date }} {% else %}
                  {{ post.publish|timesince }} ago {% endif %}
                </li>
                <li>by<a href="{{ post.user.get_absolute_url }}">
                  <i class="{{ post.category.first.icon }}"></i> {{ post.user.first_name }}</a></li>
                <li>in <a href="{{ post.category.first.get_absolute_url }}">
                  <i class="{{ post.category.first.icon }}"></i> {{ post.category.first.name }}</a></li>
                <li><i class="far fa-comments"></i> {{ post.comments.count }} Comments</i></li>
                <li class="atbd_content_right"> {% get_hit_count for post %}
                  <i class="la la-eye"></i> Views
                </li>
              </ul>
            </div>
            <div class="post-body">
              <p>{{ post.description|linebreaks }}</p>

            </div>
          </div>
        </div><!-- ends: .post-details -->
        {% for choices in page_obj %}
        <div class="card post--card post--card2 border">
          {% if choices.image %}
          <figure>
            <a href="">
              <img src='{{ choices.image.url }}' alt="{{ post.name }}"></a>
            <figcaption>
              <a href=""><i class="la la-image"></i></a>
            </figcaption>
          </figure>
          {% endif %}
          <div class="card-body">
            <h3><a href="">{{ forloop.counter }}: {{ choices.name }}</a></h3>
            <p>{{ choices.description|linebreaks }}</p>
          </div>
          <div class="card-footer">
            <div class="pull-right">
              {% if poll.active %}
              <a class=" btn btn-xs btn-primary rounded-pill" href="{% url 'post:vote_up' slug=choices.slug %}"></span>
                <i class="far fa-thumbs-up"></i>
              </a>
              {% endif %}
              <span>{{ choices.votes.likes.count }} vote{{ choices.votes.likes|pluralize:"s" }}</span>
            </div>
            {% if not choices.user == choice.poll.user %}
            <div>Added by: {{ choices.user.first_name }}</div>
            {% endif %}
          </div>
        </div>&nbsp;
        {% endfor %}
        {% if poll.active %}
        <div class="">
          <div class="pull-right">
            <a class=" btn btn-xs btn-secondary rounded-pill" href="{% url 'post:add_choice' slug=post.slug %}"></span>
              <i class="fas fa-plus"></i> Add yours
            </a>
          </div>
        </div>
        {% endif %}
        {% if post.conclusion %}
        <h3> Conclusion</h3>
        <p>
          {{ post.conclusion }}
        </p>
        {% endif %}
        <div class="post-bottom d-flex justify-content-between">
          <div class="tags">
            <ul class="d-flex list-unstyled">
              {% for tag in post.tags.all %}
              <li><a href="">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="social-share d-flex align-items-center">
            <span class="m-right-15">Share Post: </span>
            <ul class="social-share list-unstyled">
              <li>
                <div>
                  {% post_to_facebook object_or_url "<i class='fab fa-facebook-f'></i>" %}
                </div>
              </li>
              <li>
                <div>
                  {% post_to_twitter "{{post.title}}. Check it out!" object_or_url "<i class='fab fa-twitter'></i>" %}

                </div>
              </li>
              <li>
                <div>
                  {% post_to_whatsapp object_or_url "<i class='fab fa-whatsapp'></i>" %}
                </div>
              </li>
              <li>
                <div>
                  {% post_to_linkedin object_or_url "" "<i class='fab fa-linkedin'></i>" %}
                </div>
              </li>
            </ul>
          </div>
        </div><!-- ends: .post-bottom -->
        <div class="post-author cardify border">
          <div class="author-thumb">
            <img src="img/auth1.png" alt="{{ post.user.first_name }}" class="rounded-circle">
          </div>
          <div class="author-info">
            <h5>About <span>Aazztech</span></h5>
            <p>Business and Finance Sequitur mutatin onem consuetudium. Investiga tiones demonstr aver unt lectores
              legere me lius quod kqua legunt saepius. Claritas est etiam pro cessus averus.</p>
            <ul class="list-unstyled social-basic">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div><!-- ends: .post-author -->
        <div class="post-pagination">
          {% if post.previous_entry %}
          <div class="prev-post">
            <span>Previous Post:</span>
            <a href="{{ post.previous_entry.get_absolute_url }}" class="title">
              {{ post.previous_entry.name|capfirst }}</a>
            <p><span>{{ post.previous_entry.publish|date }}</span>{% if post.previous_entry.category %} - In
              <a href="{{ post.previous_entry.category.first.get_absolute_url }}">
                {{ post.previous_entry.category.first.name|capfirst}}</a>{% endif %}
            </p>
          </div>
          {% endif %}
          {% if post.next_entry %}
          <div class="next-post">
            <span>Next Post:</span>
            <a href="{{ post.next_entry.get_absolute_url }}" class="title">{{ post.next_entry.name|capfirst }}</a>
            <p><span>{{ post.next_entry.publish|date }}</span>{% if post.previous_entry.category %}  - In
               <a href="{{ post.next_entry.category.first.get_absolute_url }}">
               {{ post.next_entry.category.first.name|capfirst }}</a>{% endif %}
            </p>
          </div>
          {% endif %}
        </div><!-- ends: .post-pagination -->
        <div class="related-post m-top-60">
          <div class="related-post--title">
            <h3>Related Post</h3>
          </div>
          <div class="row">
            {% for post in related_posts %}
            <div class="col-lg-4 col-sm-6">
              <div class="single-post">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="post.name">
                {% endif %}
                <h6><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h6>
                <p><span>{{ post.publish|date }}</span> - In
                  <a href="{{ post.category.first.get_absolute_url}}">{{ post.category.first.name }}</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div><!-- ends: .related-post -->
        <div class="comments-area m-top-60">
          <div class="comment-title">
            <h3>{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</h3>
          </div>
          <div class="comment-lists">
            <ul class="media-list list-unstyled">
              {% for comment in post.comments.all %}
              <li class="depth-1">
                <div class="media">
                  <div>
                    <a class="cmnt_avatar" href="{{ comment.user.get_absolute_url }}">
                      <img alt="{{ comment.user.first_name }}" class="media-object rounded-circle" src="img/auth2.png">
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="media_top">
                      <div class="heading_left">
                        <a href="{{ comment.user.get_absolute_url }}">
                          <h6 class="media-heading">{{ comment.user.first_name }}</h6>
                        </a>
                        <span>{{ comment.publish|date }}</span>
                      </div>
                      <a class="reply" href="#"><i class="la la-reply"></i> Reply</a>
                    </div>
                    <p>{{ comment.content }}</p>
                  </div>
                </div><!-- ends: .media -->
                <ul class="children list-unstyled">
                  <!-- Nested media object -->
                  {% for reply in comment.replies.all %}
                  <li class="depth-2">
                    <div class="media">
                      <div>
                        <a class="cmnt_avatar" href="#">
                          <img alt="Sample Image" class="media-object rounded-circle" src="img/auth3.png">
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="media_top">
                          <div class="heading_left">
                            <a href="#">
                              <h6 class="media-heading">{{ reply.user.get_short_name }}</h6>
                            </a>
                            <span>{{ reply.publish|date }}</span>
                          </div>
                          <a class="reply" href="#"><i class="la la-reply"></i> Reply</a>
                        </div>
                        <p>{{ reply.content }}</p>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul><!-- ends: .children -->
              </li><!-- ends: .depth-1 -->
              {% endfor %}
            </ul><!-- ends: .media-list -->
          </div><!-- ends: .comment-lists -->
          <div class="text-center m-top-50">
          </div>
        </div><!-- ends: .comment-area -->
        <div class="comment-form cardify m-top-60 margin-md-60 border">
          <div class="comment-title">
            <h3>Leave a Reply</h3>
            <span>Your email address will not be published. Required fields are marked <span
                class="color-primary">*</span></span>
          </div>
          <div class="comment_form_wrapper m-top-40">
            <form action="{% url 'comments:poll_comment' post.slug %}" class="form-ad" enctype="multipart/form-data"
                  method="post">
              <div class="form-group is-empty">
                {% csrf_token %}
                {% crispy comment_form %}
              </div>
            </form>
          </div>
        </div><!-- ends: .comment-form -->
      </div><!-- ends: .col-lg-8 -->

      <div class="col-md-4 mt-5 mt-md-0">
        <div class="sidebar">
          <!-- search widget -->
          <div class="widget-wrapper">
            <div class="search-widget">
              <form action="#">
                <div class="input-group">
                  <input class="fc--rounded" placeholder="Search" type="text">
                  <button type="submit"><i class="la la-search"></i></button>
                </div>
              </form>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- popular post -->
          {% get_popular_business %}
          <!-- ends: .widget-wrapper -->
          <!-- tags -->
          <!-- subscribe -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Stay Updated</h6>
              </div>
              <div class="widget-content">
                <div class="subscribe-widget">
                  <form action="#">
                    <input class="form-control m-bottom-20" placeholder="Enter email" type="email">
                    <button class="btn btn-sm btn-primary shadow-none" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
          <!-- Social Connect -->
          <div class="widget-wrapper">
            <div class="widget-default">
              <div class="widget-header">
                <h6 class="widget-title">Connect &amp; Follow</h6>
              </div>
              <div class="widget-content">
                <div class="social social--small">
                  <ul class="d-flex flex-wrap">
                    <li><a class="facebook" href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a class="twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="linkedin" href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    <li><a class="gplus" href="#"><span class="fab fa-google-plus-g"></span></a></li>
                  </ul>
                </div><!-- ends: .social -->
              </div>
            </div>
          </div><!-- ends: .widget-wrapper -->
        </div><!-- ends: .sidebar -->
      </div><!-- ends: .col-lg-4 -->
    </div>
  </div>
</section><!-- ends: .blog-area -->
{% endblock %}