{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load hitcount_tags %}
{% load biasharahub %}


{% block head %}

<meta content=" popular posts are {% for post in post|slice:'9' %},  {{ post.name }}
    {% endfor %} "
      name="description">
<meta content="{% for post in post|slice:'9' %},  {{ post.name }} {% endfor %}" name="keywords">
<meta content="BiasharaHub" name="author">

{% endblock %}

{% block title %}  post List  | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder"><img alt="" src='{% static "img/breadcrumb1.jpg" %}'></div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">post List</h1>
{% endblock %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active"> All Listings</li>
{% endblock %}

{% block content %}

<section class="blog-area blog-grid section-padding-strict section-bg">
  <div class="container">
    <div class="row">
      {% for post in post %}
      <div class="col-lg-4 col-md-6">
        <div class="grid-single">
          <div class="card post--card shadow-sm">
            {% if post.image %}
            <figure>
              <a href="{{ post.get_absolute_url }}">
                <img src='{{ post.image.url }}' alt="{% if post.choices.count > 1 %}
                                  {{ post.choices.count }} {% endif %} {{ post.name }}"></a>
            </figure>
            {% endif %}
            <div class="card-body">
              <h6><a href="{{ post.get_absolute_url }}">{% if post.choices.count > 1 %}
                {{ post.choices.count }} {% endif %} {{ post.name }}</a></h6>
              <ul class="post-meta d-flex list-unstyled">
                <li>{% if post.publish > today %}{{ post.publish|date }} {% else %}
                  {{ post.publish|timesince }} ago {% endif %}
                </li>
                <li>in <a href="{{ post.category.first.get_absolute_url }}">
                  <i class="{{ post.category.first.icon }}"></i></a></li>
                <li><i class="far fa-comments"></i> {{ post.comments.count }} </i> Comments</li>
                <li class="atbd_content_right"> {% get_hit_count for post %}
                  <i class="la la-eye"></i>
                </li>
              </ul>
              <p>{{ post.description|truncatechars:100 }}</p>
            </div>
            <div class="card-footer">
              <div class="pull_right">
                <a href="{{ post.get_absolute_url }}" class="btn btn-gradient btn-gradient-one btn-icon icon-right">
                  Continue </a>
              </div>
            </div>
          </div><!-- End: .card -->
        </div>
      </div><!-- ends: .col-lg-4 -->
      {% endfor %}
    </div>

    <!--pagination-->
    <div class="m-top-20">
      <nav class="navigation pagination d-flex justify-content-center" role="navigation">
        {% include 'includes/pagination.html' %}
      </nav>
    </div>
    <!--end pagination-->

  </div>
</section><!-- ends: .blog-area -->

{% endblock %}