{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %} formset | {{ block.super }} {% endblock %}
{% block lead %}
formset
{% endblock %}

{% block jumbotron %}
<a class="btn btn-common">
  form
</a>
{% endblock  %}

{% block content %}
<section class="add-listing-wrapper border-bottom section-bg section-padding-strict">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="atbd_content_module">
          <div class="atbd_content_module__tittle_area">
            <div class="atbd_area_title">
              <h4><span class="la la-calendar-check-o"></span> Opening/Business Hour Information</h4>
            </div>
          </div>
          <div class="atbdb_content_module_contents">
            <form enctype="multipart/form-data" class="form-ad" action="." method="POST">
              <div class="form-group is-empty">
                {% csrf_token %}
              {% crispy form %}
                <div class="form-group">
                  {{ hours_formset.management_form|crispy }}
                  {{ hours_formset.non_form_errors }}
                  {% for formset in hours_formset %}
                  <div class="mt-10 form-group col-md-11 clearfix">
                    {{ formset|crispy }}
                  </div>&nbsp;
                  {% endfor %}
                </div>
              </div>
              <div class="btn_wrap list_submit m-top-25 ">
                <a role="button" class="btn btn-lg btn-danger " href="{% url 'home' %}">Cancel</a>
                <input type="submit" class="btn btn-primary btn-lg listing_submit_btn" value="Submit"
                       name="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

